$('#review').prepend("<div class='alert alert-info' role='alert'>\
                          <p>Ваш коментарий принят и будет опубликован после модерации</p></div>");
$('#comment_user_name').val(' ');
$('#comment_body').val(' ');
$('#show_comment_form').show();
$('.new_comment').hide();