<% content_for :title do %>
  
<% end %>
<% content_for :description do %>

<% end %>
<% content_for :keywords do %>

<% end %>

<div id="blog-listing">
  <% @articles.each do |article| %>
    <div class="post">
        <h2><%= link_to article.title, article_path(article) %></h2> 
        <p class="intro">
            <%= sanitize article.description %>
        </p>
        <p class="read-more">
            <%= link_to "Подробнее", article_path(article), class: "btn btn-primary" %>
        </p>
    </div>
  <% end %>
</div>

<%= paginate @articles %>