<% @articles.each do |article| %>
<div class="blog-post">
  <div class="blog-post-title">
   <h2><%= article.title %></h2> 
  </div>
  <div class="description">
    <%= sanitize article.description %>
   </div>
  <%= link_to "Подробнее", article_path(article), class: "btn btn-info btn-sm" %>
</div>
<% end %>

<%= paginate @articles %>