<h1 class="title text-center">Личный кабинет</h1>
<div class="user_tab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">История заказов</a>
    </li>
    <li role="presentation">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Персональная информация</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="orders">

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">

    </div>
  </div> 
</div>
