<div class="box">
    <h1>О компании</h1>
    <p>В спортивном интернет-магазине <strong>ладас.укр</strong> мы предлагаем Вашему вниманию современные тренажеры и принадлежности для эффективных тренировок и физических нагрузок.</p>
    <p>Взвешенный и обдуманный заказ товара от покупателей – наша главная миссия, которая выражается в стремлении создания самых лучших условия пребывания на сайте.</p>
          
    <h3>Почему стоит купить оборудование и инвентарь у нас?</h3>
    <ol>
        <li>Быстрый и эффективный выбор Вы всегда сможете сделать с помощью наших менеджеров. Воспользовавшись опытом и квалификацией профессиональных сотрудников интернет-магазина, будьте уверенны, что вы приобретете самый лучший и выгодный тренажер, любой другой спортивный инструмент.</li>
        <li>Все наши товары продаются по минимальной цене, без наценки от посредников. Заказывая изделия на сайте, пользователи покупают тренажеры из первых рук – производителей или генеральных дилеров, минуя обширную цепь посредников.</li>
        <li>Интернет-магазин рад представить прямое обеспечение доставки и продаж товара!</li>
        <li>Благодаря налаженной системе доставки Ваши покупки станут еще более приятными.Выбранные товары транспортируются в любой украинский город и регион.</li>
        <li>На спортивные принадлежности распространяется официальная гарантия. Также вы всегда сможете мгновенно заменить тренажер в случае обнаружения дефекта или его повреждения при доставке.</li>
        <li>С помощью удобной навигации сайта пользователи просто и оперативно находят и покупают понравившиеся инвентари.</li>
        <li>Мы рады всегда пойти навстречу нашим клиентам!</li>
        <li>В вашем распоряжении выгодные акции и бонусы.</li>
    </ol>

    <h2>Режим работы интернет-магазина</h2> 

    <p>Прием заказов по телефону: с 9.00 до 21.00 с понедельника по пятницу;
    c 10.00 до 21.00 суббота, выходной - воскресенье.</p>

    <p>Прием заказов через корзину интернет-магазина : круглосуточно, 7 дней в неделю;</p>


    <p>Способы осуществления заказа:</p>

    <ol>
        <li>Телефонный. Вы сможете проконсультироваться с менеджерами и заказать товар по следующим номерам: (096) 543 38 24</li>
        <li>Онлайн-режим. Выбрать тренажер и другой любой товар на сайте можно, оформив заказ посредством корзины интернет-магазина.</li>
    </ol>

    <p>По любому вопросу вы можете обращаться по телефонам, имеющимся на сайте, написать письмо.</p>

    <p>Будем рады сотрудничеству с вами!</p>

    <p>С уважением, интернет-магазин <strong>ладас.укр</strong></p>
    <p>ЧП  "Лутс Игорь Олегович" ,  ЕДРПОУ 3282101679</p>
    <p>г. Днепропетровск, пр-т Кирова 111-б</p>
</div>

