<div class="box">
      <h1>Оплата и доставка</h1> 

    <h3>Варианты оплаты</h3>   
    <ol>
      <li>Платежная карточка Приват-Банка. После заказа понравившегося товара на сайте, пользователю предоставляется счет, который он оплачивает в отделении банка. После поступления денег на карту, мы немедленно доставляем товар по определенному адресу.</li>
      <li>«Наложенный платеж». Вы также можете произвести оплату за товар,  получив его на складе в Вашем городе.</li>
    </ol>


    <p><strong>Внимание!</strong> Данный вариант оплаты нередко несет за собой дополнительные расходы. Транспортные компании могут взымать дополнительные  финансовые средства за свои услуги по перечислению денег. Как правило, получатель посылки доплачивает 1%-2% от стоимости товара.</p>


    <h3>О доставке товара</h3>  

    <p class="text-center">Оправка заказа осуществляется в течении 2 - 3 рабочих дней. Не считая дня подтверждения заказ, выходных и праздничных дней.</p>  

    <p>В настоящее время заказанные тренажеры доставляются практически в любой город Украины. Пользователи также забирают товары со склада определенных транспортных компаний. Вы также можете заказать адресную доставку продукции: данный вид услуги предоставляет транспортная компания и она обговаривается дополнительно при заключении заказа.</p> 

    <p>Товар доставляется к пользователям в кратчайший временной промежуток. При этом соблюдаются все требования безопасности. Каждый заказ перед отправкой сотрудники интернет-магазина проверяют на комплектацию, наличие каких-либо дефектов. После того, как товар отправляется к пользователю, клиенту сообщается номер декларации по телефону  или электронной почте. Для того чтобы получить груз, важно иметь при себе документ (паспорт) и номер декларации.</p> 
    <p>Заказанные спортивные товары доставляются компаниями "Ин-Тайм или "Новой Почтой" (только в тот населенный пункт, где отсутсвует представительства "Ин-Тайм"). Выбор наиболее подходящего склада осуществляется путем перехода на активную ссылку транспортной фирмы.</p>

      <h3>О получении товара</h3> 

    <p>Прежде всего, стоит внимательно осмотреть товар, убедиться, что видимые механические повреждения отсутствуют, проверить работоспособность узлов, а также наличие правильно заполненных документов. Любую претензию по внешнему виду  доставленного тренажера пользователь имеете право предъявить  только до передачи продукции.</p> 
    <p>Желательно, если гарантийный и послегарантийный уход за купленными товарами будет производиться в авторизованных сервисных центрах, указанных в гарантийном талоне.   Перед  эксплуатацией тренажера внимательно изучите инструкцию и правила эксплуатации приобретенного товара.</p>


    <h3>Об обмене или возврате товара.</h3>  

    <p>Обменять  или вернуть заказанные изделия покупатели могут в течение двух недель.</p>

    <p>Для возвращения или обмена тренажера, Вам стоит убедиться, что:</p>
    <ul>
      <li>товар не находился в употреблении, а на нем отсутствуют следы использования: царапины, сколы, потертости, и тому подобные дефекты;</li>
      <li>у товара соблюдена целостность упаковки и он включает полнейшую комплектацию;</li>
      <li>заводские маркировки  и ярлыки сохранены;</li>
      <li>имеются документы о покупке товара.</li>
    </ul>

    <p>Если тренажер не работает, то произвести обмен или возврат можно только с заключением авторизованного или сервисного центра о не нарушении условия эксплуатации.</p>
</div>
