<div class="row" id="error-page">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="box">
            <p class="text-center">
                <%= image_tag "logo.png" %>
            </p>
            <h3>Здравствуйте!</h3>
            <h4 class="text-muted">Добро пожаловать на «страницу 500» нашего сайта.</h4>
            <p>На сайте произошла техническая ошибка. Мы уже работаем над ней</p>

            <p class="text-center">Пожалуйста, попробуйте зайти на сайт позже или обновить эту страницу</p>
        </div>
    </div>
</div>




