<div class="row" id="error-pages">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="box">
            <p class="text-center">
                <%= image_tag "logo.png" %>
            </p>
            <h3 class="text-center">Здравствуйте!</h3>
            <h4 class="text-muted">Добро пожаловать на «страницу 404» нашего сайта.</h4>
            <p>К сожалению, введенный Вами адрес недоступен. Этому может быть несколько объяснений:</p>
            <ul>
                <li>Страница удалена (из-за утраты актуальности информации)</li>
                <li>Страница перенесена в другое место</li>
                <li>Возможно, при вводе адреса была пропущена какая-то буква (на самом деле, у нас самих так часто получается)</li>
            </ul>
            <p class="text-center">Пожалуйста, воспользуйтесь <strong>меню</strong> или <strong>формой поиска</strong>, чтобы найти интересующую Вас информацию</p>
        </div>
    </div>
</div>
