<%= link_to shopping_cart_path, class: "btn btn-primary navbar-btn" do %>
  <i class="fa fa-shopping-cart"></i>
  <% if @shopping_cart and !@shopping_cart.empty? %>
    <span class="hidden-sm">Товаров: <%= @shopping_cart.total_unique_items %>
    (<%=number_to_currency(@shopping_cart.total) %>)</span>
  <% else %>
    <span class="hidden-sm">Корзина пуста</span>
  <% end %>
<% end %>

                <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 items in cart</span></a>