/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap.min
 *= require animate.min
 *= require owl.carousel
 *= require owl.theme
 *= require style.default
 *= require custom.css
 *= require_self
 */

@import "prettyPhoto";

.cart_item_form{
  margin-top: 20px;
  label {
    font-size: 16px;
    font-weight: 400;
  }
  input#shopping_cart_item_quantity {
      width: 170px;
  }
}

.ribbon.new.presents {
  top: -20px;
  .theribbon {
    width: 141px;
  }
}
.box.product_tab {
  overflow: hidden;
  .tab-pane{
    padding: 15px;
  }
}
#copyright {
  padding: 10px 0!important;
}
#checkout {
  overflow: hidden;
}

#comments {
    margin-top: 55px;
}