/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
  *= require_self
 */

// $font-family-base:          "Roboto", Helvetica, Arial, sans-serif;
$font-size-base:            16px;
$font-size-h1:              floor(($font-size-base * 2.6)); // ~62px
$font-size-h2:              ceil(($font-size-base * 2)); // ~52px
$font-size-h3:              ceil(($font-size-base * 1.5)); // ~40px
$font-size-h4:              ceil(($font-size-base * 1.2)); // ~29px
$font-size-h5:              floor(($font-size-base * 1.556)); // ~28px
$font-size-h6:              ceil(($font-size-base * 1.1)); // ~24px 


body {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: $font-size-base !important;
  h1 {
    font-size: $font-size-h1;
  }
  h2 {
    font-size: $font-size-h2;
  }
  h3 {
    font-size: $font-size-h3;
  }
  h4{
    font-size: $font-size-h4;
  }
  h5{
    font-size: $font-size-h5;
  }
  h6{
    font-size: $font-size-h6;
    font-weight: 700;
  }
}

p {
  font-size: $font-size-base !important;
}

@import "fonts";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "flat-ui";
@import "products";
@import "sidebar";
@import "footer";
@import "prettyPhoto";
@import "articles";
@import "store";
@import "devise";
@import "users"