// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-post {
  margin-bottom: 60px;

  .blog-post-title {
    margin-bottom: 5px;
  }

  .description{
    margin-bottom: 5px;
  }
}

