@font-face {
  font-family: 'Flat-UI-Icons';
  src: font-url('glyphicons/flat-ui-icons-regular.eot');
  src: font-url('glyphicons/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), 
       font-url('glyphicons/flat-ui-icons-regular.woff') format('woff'), 
       font-url('glyphicons/flat-ui-icons-regular.ttf') format('truetype'), 
       font-url('glyphicons/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
}

