//
// Footer
// --------------------------------------------------
$brand-secondary: #1abc9c;
$brand-primary: #34495e;
$inverse: white;
$asbestos: #7f8c8d;
$silver: #bdc3c7;
footer {
  background-color: mix($brand-primary, $inverse, 9%);
  color: mix($brand-primary, $inverse, 44%);
  font-size: 15px;
  padding: 0;
  margin-top: 40px;

  a {
    color: mix($brand-primary, $inverse, 50%);
    font-weight: 700;
  }
  p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.footer-title {
  margin: 0 0 22px;
  padding-top: 21px;
  font-size: 24px;
  line-height: 40px;
}

.footer-brand {
  display: block;
  margin-bottom: 26px;
  width: 220px;

  img {
    width: 216px;
  }
}

// Footer banner
.footer-banner {
  background-color: $brand-secondary;
  color: mix($brand-secondary, $inverse, 20%);
  margin-left: 42px;
  min-height: 316px;
  padding: 0 30px 30px;

  .footer-title {
    color: $inverse;
  }
  a {
    color: lighten($brand-secondary, 42%);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  ul {
    list-style-type: none;
    margin: 0 0 26px;
    padding: 0;

    li {
      border-top: 1px solid lighten($brand-secondary, 2%);
      line-height: 19px;
      padding: 6px 0;

      &:first-child {
        border-top: none;
        padding-top: 1px;
      }
    }
  }
}

.footer-bottom {
  background-color: $brand-secondary;
  color: mix($brand-secondary, $inverse, 20%);
  padding-top:7px;
}

.single-widget h2 {
  color: #666663;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget h2 i{
  margin-right:15px;
}

.single-widget ul li a{
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
  background:none;
  color:$asbestos;
}

.searchform input {
  border: 1px solid #DDDDDD;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 0;
  outline: medium none;
  padding: 7px;
  width: 212px;
}


.searchform button {
  background: $silver;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}

.searchform button i {
  color: #FFFFFF;
  font-size: 20px;
}

.searchform  button:hover, 
.searchform  button:focus{
  background-color:$asbestos;
}

.searchform p {
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}