#category_menu {
  border: 1px solid #F7F7F0;
  padding-bottom: 20px;
  padding-top: 15px;
}


#category_menu  li a {
  background-color: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

#category_menu li a:hover{
  background-color: #fff;
  color: #696763;
}

#category_menu .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 50px;
}

#category_menu .nav>.active>a, 
#category_menu .nav>li>a:hover{
    color: #2FB209;                
}

#category_menu .nav ul.nav {
    display: none;           
}
/* show active nested list */
#category_menu .nav>.active>ul.nav {
    display: block;           
}

.plus:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: 2px;
  right: 15px;
  content: "\f067";
  color: $midnight-blue;
}