<div class="row">
  <% if params[:q] %>
    <h2 class="title text-center" >Результаты поиска</h2>
  <% else %>
    <h2 class="title text-center" >Каталог товаров</h2>
  <% end %>
</div>
  
<div class="row product-list">
    <%= render "products/product", products: @products %>
</div>      

<%= paginate @products %>

