<% content_for :title do %>
Каталог товаров | Ладас.укр - официальный сайт, шведские стенки от производителя<% end %>
<% content_for :description do %>
В интернет магазине Ладас.укр вы можете приобрести металические и деревянные шведские стенки для дома. У нас цены от производителя, бесплатная доставка по Украине.<% end %>
<% content_for :keywords do %>
шведская стенка для детей купить в харькове, спортивная шведская стенка для детей, шведская стенка для взрослых киев, шведские стенки для детей и взрослых, шведская стенка для всей семьи, шведская стенка для самых маленьких, шведская стенка для детей в квартиру<% end %>

<div class="box">
  <% if params[:q] %>
    <h1>Результаты поиска</h1>
  <% else %>
    <h1>Каталог товаров</h1>
  <% end %>
</div>
  
<div class="row products">
    <%= render "products/product", products: @products %>
</div>      

<%= paginate @products %>

