<div class="box">
    <h1>Популярные товары</h1>
</div>

<div class="row products">
    <%= render "products/product", products: @popular_products %>
</div>

<div class="box">
    <h1>Новинки</h1>
</div>
<div class="row products">
    <%= render "products/product", products: @novinki %>
</div>        



