<% content_for :breadcrumbs do %>
  <div id="heading-breadcrumbs" class="col-md-12">
    <div class="container">
        <div class="row">
          <ul class="breadcrumb">
            <li><%= link_to "Главная", root_path %></li>
             <li><%= @product.title %></li>
          </ul>
        </div>
    </div>
  </div>
<% end %>
