<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2016 Macformers</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
