<div class="box">
    <h1>Каталог товаров</h1>
</div>
<div class="row products">
    <div class="col-md-4 col-sm-6">
        <div class="product">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <a href="detail.html">
                            <img src="img/product1.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="back">
                        <a href="detail.html">
                            <img src="img/product1_2.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
            <a href="detail.html" class="invisible">
                <img src="img/product1.jpg" alt="" class="img-responsive">
            </a>
            <div class="text">
                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                <p class="price">$143.00</p>
                <p class="buttons">
                    <a href="detail.html" class="btn btn-default">View detail</a>
                    <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </p>
            </div>
            <!-- /.text -->
        </div>
        <!-- /.product -->
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.products -->
<div class="pages">
    <ul class="pagination">
        <li><a href="#">&laquo;</a>
        </li>
        <li class="active"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
    </ul>
</div>
