<div class="left-sidebar">
          <!--brands_products-->
            <div class="brands_products">
              <h2>Категории</h2>
              <div id="category_menu" class="brands-name">
                <ul class="nav metismenu" id="menu">
                  <li>
                    <a href="#">
                      <span class="pull-right"><i class="fa fa-plus"></i></span>
                      Шведские стенки
                    </a>
                    <ul class="nav">
                      <li><a href="#">Для детей</a></li>
                      <li><a href="#">Для взрослых</a></li>
                      <li><a href="#">Для всей семьи</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">
                      <span class="pull-right"><i class="fa fa-plus"></i></span>
                      Детские спортивные уголки
                    </a>
                    <ul class="nav">
                      <li><a href="#">Детские спортивные комплексы</a></li>
                      <li><a href="#">Спортивные уголки "Ранний старт"</a></li>
                    </ul>
                  </li>
                  <li><a href="">Аксессуары</a></li>
                  <li><a href="">Спортивные товары для детей</a></li>
                  <li><a href="">Турники настенные</a></li>
                  <li><a href="">Брусья настенные</a></li>
                  <li><a href="">Маты спортивные</a></li>
                  <li><a href="">Штанги наборные</a></li>
                  <li><a href="">Наборные гантели</a></li>
                  <li><a href="">Блины для штанги</a></li>
                  <li><a href="">Грифы для штанги</a></li>
                </ul>
              </div>
            </div>
            <!--/brands_products-->           
            
          </div>
        </div>
