<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Категории</h3>
    </div>
    <div class="panel-body">
      <%= arranged_tree_as_list(@categories, {:sort_by => [:position], 
          :ul_class_top => ["nav", "nav-pills", "nav-stacked", "category-menu", "menu_active"]}) do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %> 
    </div>
</div>

<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Производители</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked category-menu menu_active">
        <% Brand.all.each do |brand| %>
          <li><%= link_to brand.name, brand %></li>
        <% end %>
      </ul> 
    </div>
</div>

